<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Social Network</title>
  <!-- css -->
  <link rel="stylesheet" href="public/stylePerfil.css" />
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
/>
<!-- igono pestaña de inicio -->
<link rel="icon" type="image/png" sizes="32x32" href="public/img/android-chrome-192x192.png">

</head>

<body>

  <section>
    <br>
    <article class="cardMain">
      <br>
      <h2>
        <div th:text="${user.getName()}">User name here</div>
      </h2>
      <br>
      <h4 style="color: cadetblue;">Añade tu publicación:</h4>
      <!--- añadir publicaciones-->
      <form th:action="@{/post}" th:object="${publication}" method="post">
        <div>
          <label>Título:</label><br>
          <textarea th:field="*{tittle}" placeholder="título" required rows="20" cols="30"
            style="height: 26px;"></textarea>
          <br>
          <label>Publicación:</label><br>
          <br>
          <textarea th:field="*{text}" placeholder="Escribe tu publicación" required rows="20" cols="40"></textarea>
          <br>
          <input class="btn" type="submit" value="Post">
        </div>
        <div>
          <label>
            <input class="ckbx" type="checkbox" th:field="*{restricted}">
            For friends only
          </label>
        </div>
      </form>


      <br>
      <button class="btn">
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Sign Out" />
        </form>
      </button>
      <button class="btn" type="button">
        <a th:href="@{/user/{id}(id=${user.getId()})}" th:text="'Ver Perfil'" style="text-decoration: none;">Pepe</a>
      </button>
      <br>
      <br>
      <h2><i class="fas fa-user-plus" style="color: aquamarine; padding-right: 3%;"></i>Tienes <span th:text="${requests.size()}"></span> peticiones de amistad </h2>
      <div class="requests">
        <div class="request" th:each="request : ${requests}">
          <div class="request_meta">
            <h2 style="color: azure;"><span class="user" th:text="'Peticion de '+ ${request.getSender().getName()}" ></span></h2>
            <form th:action="@{/answerFriendshipRequest}" method="post">
              <input type="hidden" name="requestId" th:value="${request.getId()}">
              <input  style="background-color: aqua;color: black;" class="btn" type="submit" name="action" value="Aceptar">
              <input style="background-color:lightcoral;color: black;" class="btn" type="submit" name="action" value="Rechazar">
            </form>
            <br>
          </div>
        </div>
      </div>

    </article>

    <h1 class="section-title">PUBLICACIONES DE TUS AMIGOS</h1>
  </section>
  <section>
    <!-- TARJETA 1-->
    <article class="card">
      <br>

      <br>

      <h1>Últimas publicaciones</h1>
      <br>
      <div class="publications">
        <div class="publication" th:each="publication : ${publications}">
          <div class="publication_meta">
            <h2 style="color: #c5bdeb;">Publicación de:</h2>
            <h2><span class="user" th:text="${publication.getUser().getName()}">
                
              </span></h2>
            <h2 style="color: #c5bdeb; display: inline;">Título:  </h2>
            <h2 class="tittle" th:text="${publication.getTittle()}" style="display: inline;"></h2>
                
              

            <div  style="padding:40px;"><h5 class="publication_text" th:text="${publication.getText()}">
              El texto del mensaje</h5></div>
            

            <h6><span class="publication_restricted" th:if="${publication.isRestricted()}">restricted</span>
              <span class="publication_public" th:if="${!publication.isRestricted()}">public</span>
              <span class="tag" th:text="${publication.getTimestamp()}" style="transform:rotate(-10deg)">15 de marzo de 2021</span></h6>

          </div>
          <br>
          <button class="btn" type="button">
            <a th:href="@{/user/{id}(id=${publication.getUser().getId()})}"
              th:text="'Ver Perfil de '+${publication.getUser().getName()}" style="text-decoration: none;">Pepe</a>
          </button>

          <hr style="margin-left: 20%;margin-right: 20%;margin-top: 10%;margin-bottom: 10%;">
        </div>



      </div>

    </article>
  </section>


</body>

</html>