<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Social Network</title>
        <!-- css -->
        <link rel="stylesheet" href="public/stylePerfil.css" />
        
    </head>
    <body>
 
      <section>
        <br>
        <article class="cardMain">
          <br>
          <h2><div th:text="${user.getName()}">User name here</div></h2>
          <br>
          <h4 style="color: cadetblue;">Añade tu publicación:</h4>
                <!--- añadir publicaciones-->
                <form th:action="@{/post}" th:object="${publication}" method="post">
                  <div>
                  
                    <textarea th:field="*{text}" placeholder="Escribe tu publicación" required  rows="20" cols="40"  ></textarea>
                   <br>
                    <input class="btn" type="submit" value="Post">
                  </div>
                  <div>
                    <label>
                      <input class="ckbx" type="checkbox" th:field="*{restricted}">
                      For friends only
                    </label>
                  </div>
                </form>
    
          
          <br>
          <button class="btn">
            <form th:action="@{/logout}" method="post">
              <input type="submit" value="Sign Out" />
            </form>
          </button>
          <a href="/user_view">
            <button class="btn" type="button">Ver Perfil</button>
          </a>
        </article>
        <h1 class="section-title">PUBLICACIONES DE TUS AMIGOS</h1>
      </section>
      <section>
        <!-- TARJETA 1-->
        <article class="card">
          <br>
          <!--<div class="profile_user" th:text="${profileUser.getName()}">
            
    
    
            <h2 style="color: blueviolet;">Profile user name</h2>
              
             -->
            
          </div>
          <br>
    
          <h1>Últimas publicaciones</h1>
          <br>
          <div class="publications">
            <div class="publication" th:each="publication : ${publications}">
              <div class="publication_meta">
                <h2><span class="user" th:text="${publication.getUser().getName()}"><h4 style="display: inline;margin-left: 5px;">Pepe</h4></span></h2>
                
                <div class="publication_text" th:text="${publication.getText()}">
                  El texto del mensaje
                </div >
                
                <h6><span class="publication_restricted" th:if="${publication.isRestricted()}">restricted</span>
                <span class="publication_public" th:if="${!publication.isRestricted()}">public</span>
                <span class="timestamp" th:text="${publication.getTimestamp()}">15 de marzo de 2021</span></h6>

              </div>
              
              <br>
              <button class="btnFollow" type="button" id="follow" >Seguir</button>
              <hr style="margin-left: 20%;margin-right: 20%;margin-top: 10%;margin-bottom: 10%;">
            </div>
          </div>
    
        </article>
      </section>
    
    
    </body>
</html>
