<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Social network</title>
  <link rel="stylesheet" th:href="@{/public/stylePerfil.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
</head>

<body>
  <h1 class="section-title"><i style="color: gainsboro;" class="fa fa-cog" aria-hidden="true"></i> AJUSTES <i style="color: gainsboro;" class="fa fa-cog" aria-hidden="true"></i></h1>
  <section>
    <article class="cardPerfil">
    

        <form th:action="@{/postSettings}" method="post" th:object="${user}">
            <div>
              <br>
              <br>
                <h3>Actualiza tu perfil:</h3>
                <br>
                <textarea th:field="*{description}" placeholder="Escribe tu descripcion" required  rows="20" cols="40"  ></textarea>
                <br>
                <input class="btn" style="padding-left: 5px;padding-right: 5px; background-color: slateblue;" type="submit" value="Actualizar">
            </div>
            
        </form>

    </article>
</body>

</html>