<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Social network</title>
  <link rel="stylesheet" th:href="@{/public/stylePerfil.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />

  <link rel="icon" type="image/png" sizes="32x32" href="../static/public/img/apple-touch-icon.png ">
</head>

<body>
  <h1 class="section-title">PERFIL</h1>
  <section>
    <article class="cardPerfil">
      <header></header>
      <!--<div id="usr_photo" class="img">foto aqui</div>-->
      <br>
      <h2>
        <div th:text="${user.getName()}">User name here</div>
      </h2>
      <h4>
        <div th:text="${user.getEmail()}">User name here</div>
      </h4>

      
      <div th:if="${user.getDescription() != null}">
        <h5 th:text="${user.getDescription}">Descripcion</h5>
      </div>
    
      <div th:if="${user != sessionUser && sessionUser.getFriends().contains(user)==true}">
        <h6>Sois amigos</h6>
      </div>

      
      <div th:if="${user.getId() == sessionUser.getId()}">
        <br>
        <a href="/settings">
          <button class="btn" id="btn_desc" type="button">Editar Descripcion</button>
        </a>
      </div>
      <br>
      <button class="btn">
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Sign Out" />
        </form>
      </button>
      <!--<button type="button" id="follow" class="btn">Seguir</button>-->
      <a href="/">
        <button class="btn" type="button">Volver</button>
      </a>


      <div th:if="${user != sessionUser && !sessionUser.getFriends().contains(user) && requests==null} ">
        <br>
        <form th:action="@{/requestFriendship}" method="post">
          <input type="hidden" name="userId" th:value="${user.getId()}">
          <input class="btn" id="btn_follow" type="submit" value="Seguir">
        </form>
      </div>

      <div th:if="${user != sessionUser && !sessionUser.getFriends().contains(user) && requests!=null} ">
        <br>
        <button class="btn" id="btn_follow">Esperando respuesta...</button>
        
      </div>

      <div th:if="${user != sessionUser && sessionUser.getFriends().contains(user)==true}">
        <br>
        <form th:action="@{/requestUnFriendship}" method="post">
          <input type="hidden" name="userId" th:value="${user.getId()}">
          <input class="btn" id="btn_unfollow" type="submit" value="Dejar de seguir">
        </form>
      </div>

      
      <div th:if="${user.getId() == sessionUser.getId()}">
        <br>
        <br>
        <h2><i class="fas fa-user-plus" style="color: aquamarine; padding-right: 3%;"></i>Tienes <span th:text="${requests.size()}"></span> peticiones de amistad </h2>
        <div class="requests">
          <div class="request" th:each="request : ${requests}">
            <div class="request_meta">
              <h2 style="color: azure;"><span class="user" th:text="'Peticion de '+ ${request.getSender().getName()}" ></span></h2>
              <form th:action="@{/answerFriendshipRequest}" method="post">
                <input type="hidden" name="requestId" th:value="${request.getId()}">
                <input  style="background-color: aqua;color: black;" class="btn" type="submit" name="action" value="Aceptar">
                <input style="background-color:lightcoral;color: black;" class="btn" type="submit" name="action" value="Rechazar">
              </form>
              <br>
            </div>
          </div>
        </div>
    </div>

    </article>

  </section>
  <h1 class="section-title"> TUS PUBLICACIONES</h1>
  <section>



    <article class="card">


      <br>

      <div class="publications">
        <div class="publication" th:each="publication : ${publications}">
          <div class="publication_meta">
            <h2 style="color: #c5bdeb; display: inline;">Título:  </h2>
            <h2 class="tittle" th:text="${publication.getTittle()}" style="display: inline;"></h2>
                
             
            <div  style="padding:40px;"><h5 class="publication_text" th:text="${publication.getText()}">
              El texto del mensaje</h5></div>

            <h6><span class="publication_restricted" th:if="${publication.isRestricted()}">restricted</span>
              <span class="publication_public" th:if="${!publication.isRestricted()}">public</span>
              <span class="tag" th:text="${publication.getTimestamp()}" style="transform:rotate(-10deg)">15 de marzo de 2021</span></h6>

            <form th:action="@{/deletePub}" method="post">
              <input type="hidden" name="pubId" th:value="${publication.getId()}">
              <input class="btn" id="btn_unfollow" type="submit" value="Eliminar Publicacion">
            </form>
          </div>

          <hr style="margin-left: 20%;margin-right: 20%;margin-top: 10%;margin-bottom: 10%;">

        </div>
      </div>


    </article>
  </section>
</body>

</html>