<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Social network</title>
  <link rel="stylesheet" href="public/stylePerfil.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
</head>

<body>
  <h1 class="section-title">PERFIL</h1>
  <section>
    <article class="card">
      <header></header>
      <!--<div id="usr_photo" class="img">foto aqui</div>-->
      <br>
      <h2>
        <div th:text="${user.getName()}">User name here</div>
      </h2>

      <div th:text="${#authentication.principal.username}">User name here</div>


   <br>

      <button class="btn">
      <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" />
      </form>
     </button>
      <!--<button type="button" id="follow" class="btn">Seguir</button>-->
      <a href="/">
        <button class="btn" type="button">Volver</button>
    </a>
    </article>
  </section>
</body>

</html>